---
import Logo from './Logo.astro';
---

<header
  class="bg-white h-16 flex justify-between px-16 items-center border-b-black border-b"
>
  <Logo />
  <div>
    <!-- Search -->
    Search
  </div>
  <div>
    <!-- User / login, signup -->
    User
  </div>
</header>
