---
import Logo from './Logo.astro';
---

<header class="bg-white h-16 flex justify-between mx-16 items-center">
  <Logo />
  <div>
    <!-- Search -->
    Search
  </div>
  <div>
    <!-- User / login, signup -->
    User
  </div>
</header>
